body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.postinstagram {
    height: 400px;
    width: 400px;
    align-items: center;
    justify-content: center;
}

.heading {
    background: white;
    align-items: center;
}
.title__heading {
    background: white;
    margin: 0px;
    padding: 0px;
}
.icon_right {
    float: right;
}
.icon_left {
    float: left;
}

.img {
    width: 400px;
    height: 400px;
    background: red;
}

.likes {
    display: flex;
    justify-content: space-between;
    background: white;
}

i {
    height: 13px; 
    width: 13px;
    background: white;
}

.footer {
    background: white;
}
