body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.postinstagram {
    margin-top: 20px;
    height: 400px;
    width: 400px;
    align-items: center;
    justify-content: center;
}

.heading {
    background: white;
    position: relative;
    height: 35px;
    width: 400px;

}

.title__heading {
    position: absolute;
    left: 7%;
    top: 15%;
}

.title__heading h6 {
    background: white;
    margin: 0px;
    padding: 0px;
}

.icon_right {
    position: absolute;
    right: 0%;
    top: 15%;
}

.icon_left {
    position: absolute;
    left: 2.5%;
    top: 15%;
}

.img {
    width: 400px;
    height: 400px;
}

.likes {
    display: flex;
    justify-content: space-between;
    background: white;
    padding-top: 5px;
}

i {
    height: 13px; 
    width: 13px;
    background: white;
}

.footer {
    background: white;
}
